* {
    margin: 0;
    padding: 0;
}

.fq-e-pare {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 20px;
}

.intro-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;

}

.bluesky {
    transform: translateZ(-20px) scale(2.2);
}

.img1 {
    transform: translateZ(-4px) scale(1.2);
    bottom: 0;
}

.img2 {
    transform: translateZ(-2px) scale(1.2);
    bottom: 0;
}


.bluesky,
.img1,
.img2,
.img3 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    bottom: 0;
    z-index: -1;
}

.intro-hello {
    padding: 20px;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    width: 400px;
    margin-top: 80px;
    text-align: center;
    color: rgb(214, 225, 234);
    text-shadow: 0 0 5px #000;
}

.intro-hello h1 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.intro-hello h2 {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}

.intro-hello p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}

.text-in-intro {
    background-color: #1d1d4f;
}

.join-us-text {
    width: 80%;
    margin-left: 12%;
    text-align: center;
    color: rgb(214, 225, 234);
    text-shadow: 0 0 5px #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    padding: 40px;
}

.sign {
    padding-bottom: 50px;
}

.sign-in-form {
    width: 400px;
    height: 350px;
    margin-left: 37%;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    border: solid 2px gray;
}

.sign-in-form input {
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 30px;
    border: solid 2px black;
}

.sign-in-form h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: 900;
    padding-top: 30px;
}

.sign-in-form button {
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 95px;
}

.sign-in-form p {
    font-size: 18px;
    color: #000;
    text-align: center;
}

.sign-in-form p a {
    font-weight: 600;
    padding-left: 6px;
    font-family: 'Abril Fatface', cursive;
}

.login-page img {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.login-form {
    position: relative;
}

.login {
    padding-top: 160px;
}

.login-form {
    width: 390px;
    height: 350px;
    margin-left: 37%;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    border: solid 2px gray;
}

.login-form input {
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 30px;
    border: solid 2px black;
}

.login-form h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: 900;
    padding-top: 30px;
}

.login-form button {
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 95px;
    margin-bottom: 25px;
}

.header {
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    text-align: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.fixing-butterfly {
    width: 400px;
    display: grid;
    grid-auto-flow: column;
    margin-left: 40%;
}

.title {
    width: 280px;
}

.title h1 {
    padding-top: 20px;
    font-size: 50px;
}

.title h2 {
    font-size: 30px;
}

.header img {
    width: 200px;
}

.daily-challenges h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;

}

.challenges-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.challenges-list img {
    border-radius: 30px;
}

.challenges-list h3 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding: 10px;
}

.challenges-list-li {
    padding: 20px;
}

.challenges-list-li:hover {
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.203);
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.358);
    box-shadow: inset 0 0 5px rgb(110, 110, 110);
}

.devine img {
    position: relative;
    text-align: center;
    width: 100%;
    height: 800px;
}

.devine-text {
    position: absolute;
    margin-left: 38%;
    background-color: #be8c63ae;
    width: 430px;
    height: 400px;
    border-radius: 0px 0px 190px 149px;
    -webkit-border-radius: 0px 0px 200px 200px;
    -moz-border-radius: 0px 0px 149px 149px;
    top: 70%;
}

.devine p {
    padding: 10px;
    text-align: center;
    width: 400px;
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    top: 23px;
    left: 19px;
}

.shape-life {
    background-color: #e7cfac;
}

.title-shape-life {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}

.shape-life-section {
    display: grid;
    grid-auto-flow: column;
    margin-left: 150px;
}

.shape-life-each-section {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: 300px;
    padding: 30px;
}

.shape-life-each-section img {
    margin-left: 80px;
}

.shape-life-each-section h2 {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

.shape-life-each-section p {
    text-align: justify;
}

.join-us {
    background-color: #fef5e4;
}

.join-us h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}

.join-us p {
    font-size: 17px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.join-us ul {
    display: grid;
    grid-auto-flow: column;
    width: 70%;
    padding: 30px;
    margin-left: 15%;
    gap: 2rem;
    text-align: center;
}

.join-us li {
    padding-top: 14px;
    height: 50px;
    font-family: 'Alfa Slab One', cursive;
    border-radius: 20px;
    background-color: #e7cfac;
    color: rgb(49, 22, 6);
}

.join-us li:hover {
    color: #e7cfac;
    background-color: rgb(49, 22, 6);
}

.footer {
    background-color: #fef5e4;
    padding-top: 90px;
}

.part-1-footer {
    display: grid;
    grid-auto-flow: column;
    padding: 50px;
    width: 50%;
    margin-left: 25%;
}

.footer-invite {
    display: grid;
    grid-auto-flow: column;
    width: 230px;
}

.footer-follow {
    display: grid;
    grid-auto-flow: column;
    width: 400px;
    gap: 1rem;
}

.part-1-footer img {
    width: 40px;
    background-color: #fef5e4;
}

.part-1-footer h1 {
    font-weight: 700;
    padding-top: 5px;
}

.part-2-footer {
    display: grid;
    grid-auto-flow: column;
    font-weight: 700;
    width: 400px;
    margin-left: 35%;
    padding-bottom: 50px;
}

.part-2-footer h1 {
    padding-left: 30px;

}

.part-2-footer ul {
    list-style-type: disc;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}

.journal {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    width: 100%;
    height: 100vh;
}

.journal h1 {
    padding: 20px;
    font-size: 40px;
    color: #1d1d4f;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    text-align: center;
}

.all-journals {
    display: grid;
    grid-auto-flow: column;
    margin-left: 80px;
}

.creating-journal {
    border: solid 3px #09092a;
    text-align: center;
    background-color: #cfe7ff;
    margin: 20px;
    border-radius: 30px;
    margin-left: 80px;
    height: 530px;
}

.creating-journal h2 {
    font-size: 20px;
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
    color: #09092a;
}

.journal-written-part {
    display: grid;
    grid-auto-flow: row;
    padding: 20px;
    font-weight: 500;
}

.journal-written-part :placeholder-shown {
    font-family: 'Permanent Marker', cursive;
}


.journal-written-part input {
    padding: 10px;
    background-color: transparent;
}

.journal-written-part input:focus {
    outline: none;
}

.journal-written-part textarea {
    padding: 10px;
    background-color: transparent;
}

.journal-written-part textarea:focus {
    outline: none;
}

.journal-written-part button {
    border-radius: 50px;
    width: 180px;
    height: 45px;
    background-color: #10103a;
    color: #cfe7ff;
    margin-left: 37%;
    font-weight: 900;
}

.all-journals-list {
    margin: 40px;
    overflow-y: hidden;
}

.all-journals-list ul {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    margin-left: 10%;
}

.all-journals-list li {
    border: solid 2px #09092a;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 310px 40px;
    background-color: #cfe7ff;
    font-family: 'Alfa Slab One', cursive;
    color: #09092a;
    padding: 20px;
    width: 400px;
}



.all-journals-list li:hover {
    color: #cfe7ff;
    background-color: #09092a;
}

.eachJournal {
    border: solid 3px #09092a;
    text-align: justify;
    background-color: #cfe7ff;
    padding: 20px;
    margin-left: 27%;
    border-radius: 30px;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.eachJournal h2 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.eachJournal p {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;

}


.affrimations {
    background: url("https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 70px;
}

.affrimation-hyrje {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    text-align: center;
}

.affrimation-butterfly {
    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;
    width: 775px;
    margin-left: 23%;
}

.affrimation-butterfly img {
    width: 100px;
}

.affrimation-butterfly h2 {
    font-size: 25px;
    padding-top: 38px;
    font-family: 'Alfa Slab One', cursive;
}

.affrimation-hyrje h1 {
    margin: 10px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.affrimation-hyrje h3 {
    border: solid 2px rgb(219, 83, 129);
    margin-left: 42%;
    font-size: 20px;
    width: 250px;
    padding: 20px;
}

.affrimation-hyrje p {
    padding: 30px;
    margin-left: 27%;
    text-align: center;
    width: 49.5%;
    font-size: 29px;
    font-family: 'Libre Baskerville', serif;
}

.affrimation-hyrje img {
    width: 90px;
    margin-left: 46%;
}

.affrimation-list ul {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 700px;
    margin-left: 28%;
}

.affrimation-list li {
    background-color: rgb(219, 83, 129);
    color: rgb(255, 231, 238);
    padding: 30px;
    font-size: 27px;
    text-align: center;
    height: 200px;
    padding-top: 80px;
    border-radius: 20px;
}

.affrimation-list li h2 {
    font-family: 'Alfa Slab One', cursive;
}

.each-affrimation-section {
    background-color: #FAACA8;
    background-image: linear-gradient(65deg, #FAACA8 0%, #DDD6F3 100%);
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.each-affrimation ul {
    display: grid;
    grid-auto-flow: row;
    gap: 3rem;
    text-align: center;
    margin-left: 34%;
}

.each-affrimation li {
    margin: 20px;
    background-color: rgba(241, 223, 241, 0.489);
    overflow: hidden;
    width: 500px;
    height: 80%;
    padding: 30px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.2);
}

.each-affrimation li h1 {
    color: #21042d;
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
}

.butterflygif {
    display: grid;
    grid-auto-flow: column;
    width: 570px;
    margin-left: 33%;
    margin-bottom: 59px;
}

.butterflygif img {
    width: 150px;
}

.butterflygif h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding-top: 50px;
}

.meditation {
    background-color: #ffe4e32e;
    width: 100%;
    height: 100%;
}

.butterfly-medatition {
    display: grid;
    grid-auto-flow: column;
    width: 789px;
    padding-top: 20px;
    margin-left: 25%;
}

.butterfly-medatition img {
    width: 100px;
}

.butterfly-medatition h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    font-weight: 700;
    padding-top: 40px;
}

.meditation-info {
    display: grid;
    grid-auto-flow: row;
    gap: 3rem;
}

.each-meditation-info-1 {
    display: grid;
    grid-auto-flow: column;
    padding: 30px;
    margin-top: 7%;
}

.each-meditation-info-1 img {
    margin-left: 100px;
}

.each-meditation-inf-section-1 {
    display: grid;
    grid-auto-flow: row;
    text-align: justify;
    width: 650px;
    height: 280px;
    padding: 44px;
    margin-top: 7%;
    margin-left: 10%;
}

.each-meditation-inf-section-1 h1 {
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}

.each-meditation-info-2 {
    margin-top: 5%;
    display: grid;
    grid-auto-flow: column;
}

.each-meditation-info-2 img {
    width: 100%;
    height: 400px;
}

.each-meditation-inf-section-2 img {
    position: relative;
}

.each-meditation-inf-section-2 h1 {
    position: absolute;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    top: 192%;
    font-size: 50px;
    margin-left: 5%;
    padding: 20px;

}

.each-meditation-inf-section-2 p {
    position: absolute;
    top: 206%;
    font-size: 20px;
    margin-left: 5%;
    font-family: 'Alegreya', serif;
    padding: 20px;
    width: 400px;
}

.each-meditation-info {
    margin-top: 7%;
}

.each-meditation-info img {
    position: relative;
}

.each-meditation-inf-section {
    position: absolute;
    top: 31%;
    margin-left: 45%;
    text-align: end;
    font-family: 'Abril Fatface', cursive;
}

.each-meditation-inf-section h1 {
    font-size: 70px;
    color: #d3b38a;
    font-weight: 500;
}

.each-meditation-inf-section h2 {
    font-size: 50px;
    color: rgb(185, 205, 198);
    font-weight: 500;
}

.each-meditation-inf-section button {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(94, 113, 106);
    background-color: rgb(185, 205, 198);
}

.visionboard {
    background-image: linear-gradient(174.2deg, rgb(255, 237, 210) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    width: 100%;
    height: 100%;
}

.container {
    padding: 40px;
    width: 100%;
    margin: 0px auto;
    columns: 4;
    column-gap: 10px;
}

.box {
    padding: 7px;
    border-radius: 30px;
    width: 350px;
    margin-bottom: 10px;
    break-inside: avoid;
}

.box img {
    border-radius: 30px;
    width: 100%;
    object-fit: contain;
}



.visionboard-title {
    display: grid;
    grid-auto-flow: column;
    width: 960px;
    padding-top: 20px;
    margin-left: 21%;
}

.visionboard-title img {
    width: 200px;
}

.visionboard-title h1 {
    margin-top: 20px;
    font-family: 'Abril Fatface', cursive;
    color: rgb(66, 46, 17);
    font-size: 35px;
    font-weight: 700;
    padding-top: 40px;
}

.create-vision-board-inputs {
    width: 55%;
    padding: 10px;
    border-radius: 90px;
    margin-top: 5%;
    margin-bottom: 50px;
    margin-left: 25%;
    border: 6px solid rgba(89, 60, 17, 0.721);
}

.create-vision-board-inputs input {
    background-color: transparent;
    padding: 30px;
    font-size: 20px;
    width: 400px;
    margin-left: 7%;
}

.create-vision-board-inputs input:focus {
    outline: none;
}

.create-vision-board-inputs input::placeholder {
    color: rgba(89, 60, 17, 0.721);
    font-family: 'Permanent Marker', cursive;

}

.create-vision-board-inputs button {
    color: #ddcebb;
    height: 50px;
    width: 140px;
    margin-left: 13%;
    font-size: 20px;
    background-color: rgba(89, 60, 17, 0.721);
    font-family: 'Alfa Slab One', cursive;
    border-radius: 16px;
}

.video {
    width: 100%;
    height: 100vh;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-content {
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 23%;
    left: 25%;
    color: rgb(13, 6, 52);

}

.video-content h1 {
    font-size: 80px;
    padding: 30px;
}

.video-content h2 {
    font-size: 40px;
    width: 800px;
    padding-left: 40%;
    margin-bottom: 20px;
    border-bottom: solid 6px rgb(20, 12, 63);
}

.video-content p {
    margin-left: 13%;
    width: 530px;
    text-align: center;
}

.video-content button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(20, 12, 63);
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 33%;
    color: white;
}