* {
    margin: 0;
    padding: 0;
}

.fq-e-pare {
    overflow-x: hidden;
}

.intro-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

img {
    position: absolute;
    bottom: 0;
}

.bluesky {
    width: 100%;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100%;
    transition: 200px;
}

.intro-hello {
    padding: 20px;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    width: 400px;
    margin-top: 80px;
    text-align: center;
    color: rgb(214, 225, 234);
    text-shadow: 0 0 5px #000;
}

.intro-hello h1 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.intro-hello h2 {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}

.intro-hello p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}

.text-in-intro {
    width: 500px;
    text-align: center;
    margin-left: 40%;
}